{% extends '::base.html.twig' %}

{% block main %}
    <h2>Ajouter une étape <small>{{ type }}</small></h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}